.Exit {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-right: 4%;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
}

.exit-click{
  height: 40%;
  width: 11%;
  margin-right: 2%;
}